QuizApp.xcworkspace/xcuserdata/patrick.xcuserdatad/UserInterfaceState.xcuserstate
QuizEngine/QuizEngine.xcodeproj/xcuserdata/patrick.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
*.xcbkptlist
